<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/admin_styles.css" />
  </head>
  <body>
    <h2>Govt Officials Dashboard</h2>
    <ul style="display: flex; flex-direction: column">
      <li>
        <a href="reg_approval.html"> Registration Approvals </a>
      </li>
      <li>
        <a href="./complaint_box.html"> Comments Box </a>
      </li>
    </ul>
  </body>
</html>
