<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./admin_styles.css" />
  </head>
  <body>
    <div class="retreive-footage">
      <h3 class="dashboard-options">
        <img class="option" src="../assets/option.png" alt="/" />Registration Requests from
        Govt Officials
      </h3>
      <div>
        <p
          style="
            margin-top: 4px;
            font-size: small;
            font-weight: 500;
            color: red;
          "
        >
          Note: If you click accept then new account will be created for the user.
        </p>
        <div class="request">
          <p>You have a request from Arundalpet Police Department, Guntur</p>
          <div>
            <button class="accept-btn">Accept</button>
            <button class="deny-btn">Block</button>
          </div>
        </div>
        <div class="request">
          <p>You have a request from District Court Complex, Guntur</p>
          <div>
            <button class="accept-btn">Accept</button>
            <button class="deny-btn">Block</button>
          </div>
        </div>
      </div>
    </div><br><br>
    <div class="retreive-footage">
        <h3 class="dashboard-options">
          <img class="option" src="../assets/option.png" alt="/" />Registration Requests from
          Private Firms
        </h3>
        <div>
          <p
            style="
              margin-top: 4px;
              font-size: small;
              font-weight: 500;
              color: red;
            "
          >
            Note: If you click accept then new account will be created for the user.
          </p>
          <div class="request">
            <p>You have a request from KITS College, Guntur</p>
            <div>
              <button class="accept-btn">Accept</button>
              <button class="deny-btn">Block</button>
            </div>
          </div>
          <div class="request">
            <p>You have a request from PV Siddhartha College, Vijayawada</p>
            <div>
              <button class="accept-btn">Accept</button>
              <button class="deny-btn">Block</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
