<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./govt_styles.css" />
  </head>
  <body>
    <div class="retreive-footage">
      <h3 class="dashboard-options">
        <img class="option" src="../assets/option.png" alt="/" /> Evidence
        Verification
      </h3>
      <form class="retreive-form">
        <label for="email"
          >Original Video:
          <input
            type="file"
            name="email"
            id="email"
            placeholder="Original Video"
            required
          />
        </label>
        <label for="accessKey"
          >Evidence Video
          <input
            type="file"
            name="accessKey"
            id="accessKey"
            placeholder="ex: 19SDOE308"
            required
          />
        </label>
        <button class="retreive-btn">Verify</button>
      </form>
    </div>
  </body>
</html>
