<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./govt_styles.css" />
  </head>
  <body>
    <h2>Govt Officials Dashboard</h2>
    <ul style="display: flex; flex-direction: column">
      <li>
        <a href="./retrieve_footage.html"> Retreive Footage </a>
      </li>
      <li>
        <a href="./get_accesskey.html"> Get Access Key </a>
      </li>
      <li>
        <a href="./evidence_verification.html"> Evidence Verification </a>
      </li>
    </ul>
  </body>
</html>
