<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./pvt_styles.css" />
  </head>
  <body>
    <h2>Private Firm Dashboard</h2>
    <ul style="display: flex; flex-direction: column">
      <li>
        <a href="./live_preview.html"> Live Preview </a>
      </li>
      <li>
        <a href="./retrieve_footage.html"> Retreive Footage </a>
      </li>
      <li>
        <a href="./storage_history.html"> Storage History </a>
      </li>
      <li>
        <a href="./requests.html">Requests from Higher Authorities</a>
      </li>
    </ul>
  </body>
</html>
