<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./pvt_styles.css" />
  </head>
  <body>
    <div class="footage-container">
      <h3 class="dashboard-options">
        <img class="option" src="../assets/option.png" alt="/" /> Live Preview
      </h3>
      <div class="footage-grid">
        <video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" />
        </video>
        <video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" /></video
        ><video width="320" height="240" controls autoplay>
          <source src="../assets/cctv_crime.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </body>
</html>
