<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./pvt_styles.css" />
  </head>
  <body>
    <div class="retreive-footage">
      <h3 class="dashboard-options">
        <img class="option" src="../assets/option.png" alt="/" /> Retreive
        Footage
      </h3>
      <form class="retreive-form">
        <label for="start"
          >Start Time:
          <input type="datetime-local" name="start" id="start" />
        </label>
        <label for="end"
          >End Time:
          <input type="datetime-local" name="end" id="end" />
        </label>
        <button class="retreive-btn">Retreive</button>
      </form>
    </div>
  </body>
</html>
