<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./pvt_styles.css" />
  </head>
  <body>
    <div class="storage-history">
      <h3 class="dashboard-options">
        <img class="option" src="../assets/option.png" alt="/" /> Storage
        History
      </h3>
      <div class="history-item">
        <p>CCTV_6 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="history-item">
        <p>CCTV_5 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="history-item">
        <p>CCTV_4 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="history-item">
        <p>CCTV_3 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="history-item">
        <p>CCTV_2 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="history-item">
        <p>CCTV_1 Video Clip Stored</p>
        <span>Date: 06-03-2024 Start Time: 5:30 PM End Time: 6:00 PM</span>
      </div>
      <div class="view-more-btn">
        <button class="retreive-btn">View More</button>
      </div>
    </div>
  </body>
</html>
